.examma-ray-drop-matcher > .examma-ray-fitb-drop-location {
  margin: 0;
}

.examma-ray-drop-matcher > .examma-ray-fitb-drop-location {
  margin: 0;
}

#grader-fitb-drop-bank .examma-ray-fitb-droppable {
  display: inline-block;
}